.main-container {
    background: linear-gradient(black, purple);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
  }
  
  .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 800px; 
  }
  
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
  }
  
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px !important; 
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  